* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

#main {
  background-color: white;
  padding-bottom: 1rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
}

.content-container {
  width: 100%;
  display: none;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  padding: 1.5rem;
  place-content: center;
  transition: all 0.3s;
}
.content-container.active {
  display: grid;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #02475e;
  color: white;
  margin: 0 auto;
  border: #02475e;
  border-radius: 10px;
}

.card-img {
  width: 99%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  padding: 2rem;
}

.details {
  padding: 1.5rem;
}

.name {
  margin-bottom: 1rem;
}

li {
  list-style: none;
  padding: 0.5rem 0 0 0.5rem;
}

.category-title {
  padding-left: 1rem;
  background-color: #02475e;
  color: white;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.helper {
  height: 1rem;
  width: 100%;
  background-color: white;
}

.category-title::before {
  content: "+";
  margin-right: 0.5rem;
}

.category-title.active::before {
  content: "-";
  margin-right: 0.5rem;
}

.input {
  margin-top: 1rem;
}

.price-label {
  padding: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.cartBtn {
  color: white;
  background-color: #02475e;
  max-width: 25%;
  width: 100%;
  height: 4rem;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.cartBtn:focus {
  outline: 0;
}

.cartBtn:hover {
  background-color: #02475f;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s;
}
